<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.8,maximum-scale=0.8,minimum-scale=0.8,user-scalable=no">
    <link href="../style/work.css" type="text/css" rel="stylesheet">
    <script src="../js/work.js" type="text/javascript" defer></script>
    <title>匿名提问</title>
</head>

<body>
    <span id="host"></span>
    <pre id="demo"></pre>
    <div id="control">
        <span>发送内容(回复需先点击选择问题)</span>
        <textarea id="content"></textarea>
        <div id="buttonBorder">
            <a id="ask" class="button" href="javascript:;">提问</a>
            <a id="respond" class="button" href="javascript:;">回复</a>
            <a id="delete" class="button" href="javascript:;">删除</a>
            <a id="exist" class="button" href="javascript:;">退出</a>
        </div>
    </div>
    <span>-></span>
    <span>注意：提问不需要登录，回复、删除要先登录并点击选择对象。分享网址，邀请提问：</span>
    <span id="share"><span id="shareText"></span><a id="copy" href="javascript:;">复制</a></span>
    <textarea id="shareCopy"></textarea>

    <a id="ICP" style="font-size: 16px;text-decoration: none;color:grey" href="http://beian.miit.gov.cn/" target="_blank">赣ICP备2020014924号</a>
</body>

</html>