<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.8,maximum-scale=0.8,minimum-scale=0.8,user-scalable=no">
    <link href="./style/index.css" type="text/css" rel="stylesheet">
    <script src="./js/index.js" type="text/javascript" defer></script>
    <title>匿名提问</title>
</head>

<body>
    <div id="board">
        <strong>用户登录</strong>
        <form id="form">
            <input id="username" type="text" name="aquser">
            <input id="password" type="password" name="aqpassword">
            <a id="login" class="button" href="javascript:;"><span>登录<span></a>
            <a id="registerTransfer" class="button" href="./register.html"><span>注册<span></a>
        </form>
    </div>

    <a id="ICP" style="font-size: 16px;text-decoration: none;color:grey" href="http://beian.miit.gov.cn/" target="_blank">赣ICP备2020014924号</a>
</body>

</html>