<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.8,maximum-scale=0.8,minimum-scale=0.8,user-scalable=no">
    <link href="./style/work.css" type="text/css" rel="stylesheet">
    <script src="./js/work.js" type="text/javascript" defer></script>
    <title>匿名提问</title>
</head>

<body>
    <div id="information">
        <pre id="demo"></pre>
    </div>
    <div id="control">
        <label>回复的问题的ID(提问则不需要输入，回复需要先登录)</label>
        <textarea id="option"></textarea>
        <label>发送内容</label>
        <textarea id="content"></textarea>
        <div id="buttonBorder">
            <a id="ask" class="button" href="javascript:;"><span>提问<span></a>
            <a id="respond" class="button" href="javascript:;"><span>回复<span></a>
            <a id="exist" class="button" href="javascript:;"><span>退出<span></a>
        </div>
        <label>-></label>
        <label>分享网址，邀请提问：</label>
        <label id="share"></label>
    </div>
</body>

</html>